{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is your address? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is for testing purposes only.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/space-address" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% call govukFieldset({
  legend: {
    text: "What is your address?",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) %}

 {{ govukInput({
    label: {
      text: "Address line 1"
    },
    id: "address-line-1",
    name: "addressLine1",
    value: data['addressLine1'],
    autocomplete: "address-line1"
  }) }}

 {{ govukInput({
    label: {
      text: "Address line 2 (optional)"
    },
    id: "address-line-2",
    name: "addressLine2",
    value: data['addressLine2'],
    autocomplete: "address-line2"
  }) }}

  {{ govukInput({
    label: {
      text: "Address line 3 (optional)"
    },
    id: "address-line-3",
    name: "addressLine3",
    value: data['addressLine3']
  }) }}

  {{ govukInput({
    label: {
      text: "Address line 4 (optional)"
    },
    id: "address-line-4",
    name: "addressLine4",
    value: data['addressLine4']
  }) }}

  {{ govukInput({
    label: {
      text: "Address line 5 (optional)"
    },
    id: "address-line-5",
    name: "addressLine5",
    value: data['addressLine5']
  }) }}

{% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
