{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">For testing purposes only

    <h2 class="govuk-heading-l">
      Screen index
    </h2>
    <p class="govuk-body"><a href="start">Start page</a></p>
    <p class="govuk-body"><a href="destination">Destination page</a></p>
    <p class="govuk-body"><a href="name">Name page</a></p>
    <p class="govuk-body"><a href="address">Address page</a></p>
    <p class="govuk-body"><a href="check">Check your answers page</a></p>
    <p class="govuk-body"><a href="confirm">Confirmation page</a></p>


    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
  </div>
</div>

{% endblock %}
